body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-viewer {
    position: relative;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#viewerImage {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

#imageInput {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.nav-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}

.nav-button:hover {
    background-color: #0056b3;
}